<!--<table class="table" style="margin-top: -20px">-->
   <!--<tr class="row">-->
       <!--<td class="active col-sm-2">id</td>-->
       <!--<td class="info col-sm-10">标题</td>-->
   <!--</tr>-->
    <!--<tr class="row">-->
       <!--<td class="active col-sm-2">1</td>-->
       <!--<td class="success col-sm-10">今天没吃药</td>-->
   <!--</tr>-->
    <!--<tr class="row">-->
        <!--&lt;!&ndash;<a class="btn btn-skyblue"  ui-sref="home.application_saas_detail({id:catobj.appId})">查看详情</a>&ndash;&gt;-->
       <!--<td class="active col-sm-2"><a ui-sref="fenyie({index:2})">2</a></td>-->
       <!--<td class="success col-sm-10">昨天没吃药</td>-->
   <!--</tr>-->
<!--</table>-->
<div class="media">
    <div class="media-left media-middle">
        <a ui-sref="fenyie({index:1})">
            <div class="media-object" style="width: 64px;height: 64px;background-color: grey;"></div>
            <!--<img class="media-object" src="..." alt="...">-->
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading"> <a ui-sref="fenyie({index:1})">aligned media</a></h4>
        axsasxasxasxasxasxasxasxasxsxasxasxasxasxasxasxasxasxsaxsaxsaxasxsaxsaxsaxsxsax
    </div>
</div>
<div class="media">
    <div class="media-left media-middle">
        <a ui-sref="fenyie({index:1})">
            <div class="media-object" style="width: 64px;height: 64px;background-color: grey;"></div>
            <!--<img class="media-object" src="..." alt="...">-->
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading"> <a ui-sref="fenyie({index:1})">aligned media</a></h4>
        axsasxasxasxasxasxasxasxasxsxasxasxasxasxasxasxasxasxsaxsaxsaxasxsaxsaxsaxsxsax
    </div>
</div>
<div class="media">
    <div class="media-left media-middle">
        <a ui-sref="fenyie({index:1})">
            <div class="media-object" style="width: 64px;height: 64px;background-color: grey;"></div>
            <!--<img class="media-object" src="..." alt="...">-->
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading"> <a ui-sref="fenyie({index:1})">aligned media</a></h4>
        axsasxasxasxasxasxasxasxasxsxasxasxasxasxasxasxasxasxsaxsaxsaxasxsaxsaxsaxsxsax
    </div>
</div>

